<div class="user-details">
  <h1><b> 시간여행에 대하여 </b></h1><br />
  <p style= "text-align: justify"> {{site.user_description}} </p>
</div>

<hr>
<p style="text-align: justify">아이작 아시모프. 그는 생각보다 공격적인 작자였다. 시작부터 시간여행의 가장 진부한 패러독스, ‘여행자로 인한 나비효과’를 영원의 전문가, 교육자의 입으로 거침없이 뱉어내는 게 아닌가.
  <br/><br/>“기교가라면 무엇보다 감정을 버릴 줄 알아야 해. 기교가가 ‘현실변경’을 하고 나면 500억 명의 인생이 영향을 받을 수 있으니까. 그 가운데 100만 명 정도는 아주 큰 영향을 받아서 완전히 다른 사람이 될 거야. 따라서 감정적인 성격은 치명적인 단점이지.”
<br/><br/>작가는 여러 장치를 두어 꼬투리 잡기 좋은 주제인 시간여행에 관해 설명하는 동시에 질문자인 나에게 반박하고 있었다. 특히, 우리의 주인공 앤드류는 종종 작가에 투영되어 직접적으로 경고하기까지 했다.
<br /><br/>“시간여행이 가능하다는 사실을 단순하게 받아들이지 않고 그 신비로움에 신경을 쓰는 것은 견습생이나 ‘영원’에 새로 들어온 사람이 하는 짓이었다.”
<br /><br/>글을 읽는 내내 풋내기 취급이나 당할 순 없어 나만의 심각한 공방전을 끝내게 하는 것이다. 이러한 전개에 당하니 그가 얄미웠지만, 한층 가벼워진 마음으로 책장을 넘기니 또 다른 세계가 펼쳐졌다. 정말 뭔가를 알고 소설을 썼나 싶을 정도로 그가 사용하는 독특한 표현들이 지금의 과학이 설명하는 이론과 맞닿아 있는 것만 같았다. 앤드류는 세기를 넘나들 때 ‘무한하게 얇은 무시와 무공의 장막’에 대해 언급한다. 시간여행의 가장 기본적인 장치 ‘평행세계’인 듯 하면서도 현대이론인 끈 이론의 <a href="https://lh3.googleusercontent.com/proxy/J-h1L3z_q6AhZCP-zMUcuzOT8JuXHRIcmIFfQAyu4cHgzqOauEEx9HxvImNK59F7DLeYVNH6CpMPeUPwuwNkKXF74fPnNSNfiDhMU63xeoEtyJZaP9IJdN1Nb_vFElgvisBmsQGgHPM">식빵 조각</a> 들을 떠오르게 하는 것이다. 상상력의 힘은 생각보다 대단했다. 
</p>
