<div class="user-details">
  <h1><b>영원의 기교가</b></h1>
</div>

<p style="text-align: justify">영원인은 모두 각자의 역할이 있고 계산가, 교육가, 관찰가 등 그들의 직무는 상당히 직관적으로 표현되어 있다. 그런데 기교가라니. 책의 주인공 앤드류 할런은 라반이라는 명성 높은 계산가의 직속 기교가였다(앤드류는 ‘그 유명한 라반 본인 말이다’하고 경탄한다. 이 대목에서 알 수 있듯 작가는 영원의 세계에 무지한 독자에게 꽤나 능청스럽게 군다. 하지만 어설프지 않고 되려 자연스러워 읽는 독자를 흡수시키는 매력이 있다.).
   <br/><br/>“기계적인 계산도 기교가에게는 미치지 못했다. 역사상 제일 똑똑하고 가장 숙련된 선임 계산가가 현존하는 가장 큰 컴퓨터플렉스를 이용한다고 해도 최소 변경을 찾아낼 수 있는 범위를 한정하는 것이 전부였다. 하지만 기교가는 자료를 슬쩍 보니만 해도 그 범위 내에서 정확한 지점이 어디인지 결정할 수 있었다. 실력이 좋은 기교가는 틀리는 법이 거의 없었다. 최고의 기교가는 절대로 틀리지 않았다. <br />앤드류는 절대로 틀리지 않았다.”
   <br/><br/>삼단논법으로 증명된 최고의 기교가인 앤드류는 482세기의 사회학자가 범한 실수를 알려주며 누군가의 ‘인생 설계’를 비밀리에 요청한다. 그로 하여금 불법을 저지르게 한 이 인물은 바로 ‘노위스 램버트’. 앤드류가 잠시 머물게 된 옛 상사의 세기 속 비서였다. 노위스는 대개 남성 뿐인 영원의 사회에 들어온 아름다운 여성이었는데, 앤드류는 그를 보며 불쾌감(혹은 다른 무언가)을 느낀다. 이성에 대한 욕망, 즉 본능을 분노로 느끼면서도 자신의 외모를 신경 쓰는 기이한 언행 불일치를 보이는 앤드류. 기교가로서의 권력감을 자랑스러워하며 영원인들에 냉소하던 그가 좋아하는 친구에게 못되게 구는 초등학생이 되어버리니 ‘사람’으로서 미숙한 영원인의 모습이 그려졌다. 문득 생각나는 ‘영원인의 삶의 4단계’. 시간 속의 거주자는 어떤 선별의 과정을 거쳐 영원의 장막을 건너게 된다. 다신 돌아갈 수 없도록 강제적으로. 그리곤 그들을 전문가로 키워 기관의 부품 마냥 부리다니. 영원은 폭력적이다. 나는 책을 읽어가며 느꼈던 미묘한 불쾌감의 원인을 찾을 수 있었다. 시간여행이라는 무모한 배경이 주는 역설감보다 영원인 사회가 주는(예를 들자면 다양한 전문가들이 모여 현실 변경을 계획하지만, 변경을 실천하는 기교가에게만 부정적인 시선을 건네는 것 말이다.), 그리고 주인공을 투영하는 전지적 3자가 주는 모순이 훨씬 컸던 것이다.<br />
   <br/><br/> 원칙적으로 따라야 하는 ‘시공계획서’에 의해 노위스의 집에 머무르며 마침내 그를 사랑하게 됐을때, 앤드류는 영원을 둘러싼 거대한 비밀의 존재를 직감하게 된다. 실은 이 단락이 아니었어도 재미없고 매력없는 그가 이야기의 주인공이라는 분위기는 은연 중에 존재했다. <br/>
</p> 

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <p><br/>“그게 영원에 도움이 되는 일이라면 저는…….”<br/>“영원에 도움이 되느냐고?”<br/>난쟁이 같은 계산가가 갑자기 흥분해서 소리를 질렀다. 라반은 엄청난 힘으로 담배꽁초를 집어 던졌다. 꽁초는 반대편 벽을 때리고 분수처럼 불꽃을 뿌리면 튕겨나갔다.<br/>“네가 있어야 영원이 존재할 수 있단 말이다”<br/><br /></p>
  </div>
</div>
